#http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.opensdf
*.DS_Store

ChessPlusPlus/
Debug/
Release/
libs/SFML-4fbefe7/build_vs11/
libs/SFML-4fbefe7/build_osx/