#http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.opensdf
*.exe
*.pdb
*.ilk
*.DS_Store
*.dll

/chesspp
debug.txt

ChessPlusPlus/
Debug/
Release/
lib/
bin/
obj/
